In [1]:
roll_number = 12
name = 'Chaitanya Baweja'
age = 14

%who 

# Output
# age name roll_number

age	 name	 roll_number

In [8]:
%%html
<html>
<body>
<h3>Student Marks</h3>
<table>
        <tr> 
            <th>Name</th> 
            <th>Roll</th> 
            <th>Age</th>
            <th>Marks</th>
        </tr> 
        <tr> 
            <td>Chaitanya</td> 
            <td>12</td> 
            <td>14</td>
            <td>93</td>
        </tr>
        <tr> 
            <td>Karan</td> 
            <td>13</td> 
            <td>15</td>
            <td>92</td>
        </tr>
</table>
</body>
</html>

# Test

# Test 3